.container.ada .header {
    display: flex;
    align-items: flex-end;
    margin-bottom: 2rem;
}
.container.ada h2 {
    margin-top: 2rem;
}
.container.ada .header .spanborder {
    margin-bottom: 0;
}
.container.ada img.logo {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2rem;
}

.container.ada blockquote {
    border: 1px solid #ccc;
    padding: 1rem;
    padding-bottom: 0;
}
