.container.ada .header {
    display: flex;
    align-items: flex-end;
    margin-bottom: 2rem;
}
.container.ada h2 {
    margin-top: 2rem;
}
.container.ada .header .spanborder {
    margin-bottom: 0;
}
.container.ada img.logo {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2rem;
}

.container.ada blockquote {
    border: 1px solid #dddddd;
    padding: 1rem;
    padding-bottom: 0;
}

/* Schedule table */
.container.ada table {
    margin-bottom: 2rem;
}

.container.ada table td {
    border-bottom: 1px solid #ccc;
    vertical-align: top;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.container.ada table td:first-child {
    text-align: right;
    padding-right: 1rem;
}

.container.ada table tr:last-child td {
    border-bottom: 0;
}

/* Sponsors */
.container.ada .sponsors {
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}

.container.ada .sponsors div {
    display: flex;
    flex-direction: column;
    filter: grayscale(100%);
    transition: linear 0.5s;
}

.container.ada .sponsors div:hover {
    filter: grayscale(0%);
    transition: linear 0.5s;
}

.container.ada .sponsors div {
    margin-top: 4rem;
}

.container.ada .sponsors img {
    width: 50%;
    margin-bottom: 1rem;
}
