---
layout: default
---

<div class="container ada">
  <div class="row">
    <div class="col-md-8">
      <h3 class="font-weight-bold spanborder"><span>{{page.title}}</span></h3>
      <div class="page-content">
        {{ content }}
      </div>
    </div>
    <div class="col-md-4">
      <div class="d-none d-sm-inline-block logo punk">
        <a href="{{site.baseurl}}/logos">
          {% include logo.svg %}
        </a>
      </div>

      <h4>Sponsors</h4>

      <p>This event is made possible with support from these sponsors.</p>

      <section class="sponsors">
        {% for sponsor in site.data.ada2019_sponsors %}
        <div>
          <a href="{{ sponsor.url }}" rel="friend met">
            <img
              src="{{site.baseurl}}/assets/sponsors/{{ sponsor.logo }}"
              alt="{{ sponsor.name }}"
          /></a>
          <small>{{ sponsor.role }}</small>
        </div>
        {% endfor %}
      </section>
    </div>
  </div>
</div>
