---
layout: default
---

<div class="container ada">
  <div class="row">
    <div class="col-md-8">
      <h3 class="font-weight-bold spanborder"><span>{{page.title}}</span></h3>
      <div class="page-content">
        {{ content }}
      </div>
    </div>
    <div class="col-md-4">
      <img
        src="{{site.baseurl}}/assets/images/tech-women-norway-punk-sentr-transparent-250px.png"
        alt="{{page.title}}"
        class="d-none d-sm-inline-block logo"
      />

      <h4>About <em>Tech Role Models</em></h4>

      <p>
        The people presented here serve as role-models for folks in Norway trying to build a career working hands-on in tech.
      </p>

      <p>
        The selection for inclusion is based on hands-on contributions and not on role or career path. Acknowledging that many contributions are often not publicly visible, we try to enumerate contributions as well as we can.
      </p>

    </div>
  </div>
</div>
