---
layout: default
---

{% assign speaker = site.data.speakers[page.speaker] %}

<div class="container speaker">
  <div class="info">
    <h2 class="font-weight-bold">
      {{ speaker.name }}
      <span class="small btn btn-outline-success btn-sm btn-round"
        ><a target="_blank" href="https://twitter.com/{{ speaker.twitter }}"
          >Follow</a
        ></span
      >
    </h2>
    <p class="pronouns">Pronouns: <em>{{ speaker.pronouns }}</em></p>
    {% if speaker.site %}
    <p><a href="{{ speaker.site }}">{{ speaker.site }}</a></p>
    {% endif %} {{ speaker.bio | markdownify }}

    <p><strong>More about {{ speaker.name }} on the web:</strong></p>
    <p>
      {% if speaker.website %}
      <a
              target="_blank"
              href="{{ speaker.website }}"
              title="Website of {{ speaker.name }}"
      >
        <i class="fa fa-globe text-muted" aria-hidden="true"></i>
        {{ speaker.website | replace: "https://" "" | replace: "http://" "" }} </a
      ><br />
      {% endif %}
      <a
        target="_blank"
        href="https://twitter.com/{{ speaker.twitter }}"
        title="{{ speaker.name }} on Twitter"
      >
        <i class="fab fa-twitter text-muted" aria-hidden="true"></i>
        {{ speaker.twitter }} </a
      ><br />
      {% if speaker.github %}
      <a
              target="_blank"
              href="https://github.com/{{ speaker.github }}"
              title="{{ speaker.name }} on GitHub"
      >
        <i class="fab fa-github text-muted" aria-hidden="true"></i>
        {{ speaker.github }} </a
      ><br />
      {% endif %}
      {% if speaker.linkedin %}
      <a
        target="_blank"
        href="{{ speaker.linkedin }}"
        title="{{ speaker.name }} on LinkedIn"
      >
        <i class="fab fa-linkedin text-muted" aria-hidden="true"></i>
        LinkedIn </a
      ><br />
      {% endif %}
    </p>
  </div>
  <div class="avatar">
    <img
      alt="{{ speaker.name }}"
      src="{{site.baseurl}}/assets/speakers/{{ page.speaker }}.250.jpg"
      class="rounded-circle"
      height="100"
      width="100"
    />
  </div>
</div>
